*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --nav-color:#84a59d;
    --back-color:#f7ede2;
    --border-color:#f6bd60;
}

main {  
    padding: 10px;
    margin-top: auto;   
    margin-bottom: auto; 
    background-color: var(--back-color);
    border-bottom:20px solid var(--border-color);
}

/* Formatting of the Navigation Bar */
.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--nav-color) ;
    border-top: 20px solid var(--border-color);
}

.navbar-container{
    display: flex;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    justify-items: center;
}

/* Navigation bar - left side */
.navbar-left{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex: 1 1 0;
    list-style: none
}

/* Navigation bar - middle element */
.navbar-middle{
    display:flex;
    align-items: center;
    flex: 0 0 auto;
}

/* Navigation bar - right side */
.navbar-right{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    flex-wrap: wrap;
    flex: 1 1 0;
    list-style: none
    }

.programmer-img{
       max-width: 150px;
    }  

    /* addition on a button */
    .main-button{
        position:static;
        /* margin: -50px auto 100px; */
        padding: 20px 40px;
        border-radius:15px;
        background-color:  #d98f89;
        color: white;
        font-size: 14px;
        font-weight: 600;
        letter-spacing:2px;
        text-transform: uppercase; 
    }

    .w-button{
        margin:20px;
        border:0;
        cursor:pointer;
    }

    /* formatting of the Links - left side */
.navbar-left a {
    padding: 8px 12px;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    }

/* formatting of the Links - right side */
.navbar-right a {
    padding:8px 12px;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    } 

/* Hero section */
.hero {
    
    height: 400px;
    width: 100%;
    background-image: url("./bookshelf1.jpg");
    background-size: cover;
    background-position: center;
    border-top: 20px solid var(--border-color);
    border-bottom: 20px solid var(--border-color);
}

/* About Me section */

.about-me-info{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin: 20px;
    border: 1px solid firebrick
}

.about-me-head{
    display: flex;
    width: 10%;
    padding-right: 15px;
    border-right: 2px solid black; 
}

/* Project Section */
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin: 20px;
    border: 1px solid firebrick
}

.projects-grid-head{
    display: flex;
    width: 10%;
    padding-right: 15px;
    border-right: 2px solid black;
}

.projects-grid{
    display: flex;
        /* background-color: var(--back-color); */
    flex-wrap:wrap;
    gap:10px;
    flex-grow: 1;
    color: black;
}

.projects-grid-item{
    flex-grow: 0;
    width:calc(50% - 5px);
    padding: 15px;
    border: 1px solid firebrick
}

.main-item{
    width: 100%;
}

.projects-grid-item a{
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/* Need to figure out formatting of the images to fit only on the left side and not overfrow to "Project" side */
.img-project-1{
    height: 400px;
    width: 100%;
}

.img-project-2{
    height: 200px;
    width: 100%;
}
/* Contact Me section */
.contact-info-main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin: 20px;
    border: 1px solid firebrick
}

.contact-head {
    display: flex;
    width: 10%;
    padding-right: 15px;
    border-right: 2px solid black; 
 }

 .contact{
    display: flex;
        /* background-color: var(--back-color); */
    flex-wrap:wrap;
    justify-content: center;
    gap:10px;
    flex-grow: 1;
    color: black;
}

.contact-links{
    display: flex;
    list-style: none;
    align-items:center;
    flex-wrap: wrap;
    /* flex: 1 1 0; */
    }

.contact a{
    padding:8px 12px;
    color: inherit
